.form-control, .form-select {
  background-color: var(--bg-main);
  color: var(--text-main);
  border-color: var(--border-color);
}

.form-control:focus, .form-select:focus {
  background-color: var(--bg-main);
  color: var(--text-main);
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px var(--primary-light);
}
